

.concept-selection-container {
  /* background-color:rgb(255, 255, 255); */
  display:flex;
  flex-direction:column;
  /* justify-content: center;
  align-items:center;
  height:100vh;
  padding-top:65px;
  margin-bottom: -4px */
}
.concept-selection-title {
  font-family:'Sriracha';
  font-size: 40px;
  padding:5px;
  margin: 0px;
}
.concept-selection-title-desc {
  font-size: 20px;
  border-bottom: 5px solid var(--sec-color);
  width:auto;
  /* padding: 0px 10% 0px 10%; */
  margin: 0px 30vw 0px 30vw;

}
.concept-topic {
    border-bottom: 7px solid var(--main-color);
    font-family: 'Sriracha';
    background-color:white;
    width:300px;
    color:rgb(41, 15, 15);
    font-size:25px;
    border-radius: 5px;
    text-align:center;

    /* color:indigo */ 
    /* font-size:large; */
  }
  .buttonGroup {
    display:flex;
    margin:10px;
    flex-direction:column;
    /* align-items:center; */
    
  }
  .concept-button {
    position: relative;
    border:none;
    border-bottom:5px solid transparent;
    width: 300px;
    display: inline-block;
    text-align: left;
    font-weight:bold;
    /* box-shadow: 0px 2px 7px 0px grey; */
    background-color: white;
    padding:10px;
    text-decoration-color:white;
  }
  .concept-button:hover {
    cursor: pointer;
    
    /* margin-bottom:-5px; */
    border-bottom:5px solid var(--sec-color)
  }
  .dropdown-content a:hover {background-color: rgb(238, 192, 192); left:20px;}
  
  .concept-container {
    display:flex;
    justify-content:center;
    
  }

@media (max-width: 700px) {
  .concept-container {
    flex-direction:column;
    align-items: center;
  }
  .concept-selection-title-desc {
    font-size: 20px;
    border-bottom: 5px solid var(--sec-color);
    width:auto;
    /* padding: 0px 10% 0px 10%; */
    margin: 0px 5vw 0px 5vw;
  
  }
}