
.home-container {
  padding:0px;
}
.in{
  background-color:var(--main-color);
  font-size: 80px;
  width: 85px;
  color:white;
  display:flex;
  flex-direction:column;
}
.finite{
  color:var(--sec-color);
  font-size: 80px;
  padding-right:20px;
}

h1 {
  font-size:78px;
  font-family: 'Sriracha';
  margin-bottom: 0px;
  margin-top:0px;
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  color:rgb(56, 56, 56);
}
h2 {
  text-align:center;
}
p {
  width:100%;
  text-align:center;
  margin:20px;

}

.picture-background {
  /* background-image: url(./app-files/images/triangle-background.jpg); */
  background-image: url(./../../app-files/images/blue-yellow-background.jpg);

  width:100vw;
  max-width:100%;
  align-self:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  background-repeat:no-repeat;
  background-size:cover;
  height:100vh;
}

.title-banner {
  text-shadow: 5px 2px 5px rgb(128, 128, 148);
  top:100px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  z-index:2;
}
.title-banner p {
  text-align:center;
  padding:10px;
  text-shadow:none;
  font-size:20px;
}
@media (max-width: 740px) {
  .main {
    width:auto;
  }
  .picture-background {
  
    width:100vw;
    max-width:100%;

  }
  .in{
    font-size: 40px;
    width: 45px;

  }
  .finite{
    font-size: 40px;
  }
  h1 {
    font-size:38px;

  }
  .title-banner h2 {
    font-size:22px;
  }
  .title-banner p {
    font-size:18px;
  }
}