@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@800&family=Poppins:wght@200&display=swap');
.home-container {
  padding:0px;
}
.in{
  background-color:var(--main-color);
  font-size: 80px;
  width: 85px;
  color:white;
  display:flex;
  flex-direction:column;
}
.finite{
  color:var(--sec-color);
  font-size: 80px;
  padding-right:20px;
}

h1 {
  font-size:78px;
  font-family: 'Sriracha';
  margin-bottom: 0px;
  margin-top:0px;
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  color:rgb(56, 56, 56);
}
.title-banner h2{
  text-align:center;
  font-family:'Exo';
  font-size:2rem;
}
p {
  width:100%;
  text-align:center;
  margin:20px;

}

.picture-background {
  /* background-image: url(./app-files/images/triangle-background.jpg); */
  background-image: url(./../../app-files/images/blue-yellow-background.jpg);

  width:100vw;
  max-width:100%;
  align-self:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  background-repeat:no-repeat;
  background-size:cover;
  min-height: 100vh
}

.title-banner {
  text-shadow: 5px 2px 5px rgb(128, 128, 148);
  top:100px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  z-index:2;
}
.title-banner p {
  text-align:center;
  padding:10px;
  text-shadow:none;
  font-size:20px;
}


.bold1{
  font-family: 'Exo', sans-serif;
  font-size:3.7rem;
  color:yellow;
}
.bold2{
  font-family: 'Exo', sans-serif;
  color:var(--main-color);
  font-size:3.7rem;
}
.bold3{
  font-family: 'Exo', sans-serif;
  color:var(--sec-color);
  font-size:3.7rem;
}
.differentiate-section-container{
  display:flex;
  padding: 4%;
  padding-bottom:4%;
  font-family: 'Poppins';
  font-weight:bold;
  font-size:2.7rem;
  background-color:var(--main-color);
  background-image: linear-gradient(
    50deg
    , #1d4f61, #3a829a, #3e9ebe);
  height:60vh;
  padding-bottom:150px;
}
.differentiate-section-container p{
  color:white;
  padding:5px;
}
.differentiate-description-container{
  width:40%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.differentiate-ex-container{
  position:relative;
  width:60vw

}


.differentiate-ex {
  box-shadow: 2px 3px 5px 2px rgb(54, 52, 52);
  transform:rotate(-20deg);
  /* width:10%; */
  /* height:75%; */
  position:absolute;
  width:350px;
  height:500px;
}
.ex1{
  z-index:1;
  top:2%;
  left:100px;
}
.ex2{
  z-index:2;
  top:7%;
  left:200px;
}
.ex3{
  z-index:3;
  top:12%;
  left:300px;
}
.ex4{
  z-index:4;
  top:17%;
  left:400px;
}

.differentiate-conceptCustomize{
  width:70%;
}

.infinite-section-container{
  background-color:white;
  font-family:'Poppins';
  font-size:2.7rem;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  height: 25%
}
.infinite-section-container p{
  padding:5px;

}
.infinite-description-container {
  width:70%;
}
.infinite-remakepdf{
  width:40%;
  height:60%;
}




.teacher-section-container{
  display:flex;
  padding: 2%;
  align-items:center;
  justify-content: center;
  font-family: 'Poppins';
  font-weight:bold;
  font-size:2.7rem;
  background-color:var(--sec-color);
  background-image: linear-gradient(
    150deg
    , #ca2424, #922727, #7b2323);
  height:80vh;
  padding-bottom:100px;
}
.teacher-section-container p{
  color:white;
  padding:5px;

}
.teacher-description-container{
  width:40vw;

}
.teacher-ex-container {
  position:relative;
  width:60vw;
  height:80%;
}
.teacher-ex{
  /* height:60%; */
  height:80%;
  box-shadow: 2px 3px 7px 2px rgb(54, 53, 53);

  position:absolute;
}
.Tex1{
  z-index:2;
  top:3%;
  left:100px;
  left:10%;
}
.Tex2{
  z-index:3;
  top:10%;
  left:300px;
  left:34%;
}
.Tex3{
  z-index:1;
  top:3%;
  left:500px;
  left:58%;
}








@media (max-width: 800px) {
  .main {
    width:auto;
  }
  .picture-background {
  
    width:100vw;
    max-width:100%;

  }
  .in{
    font-size: 40px;
    width: 45px;

  }
  .finite{
    font-size: 40px;
  }
  h1 {
    font-size:38px;

  }
  .title-banner h2 {
    font-size:22px;
  }
  .title-banner p {
    font-size:18px;
  }
  .bold1, .bold2, .bold3 {
    font-size:2rem;
  }
  .differentiate-section-container{
    padding-bottom:2%;
    height:100vh;
  }
  /* .infinite-section-container{
  } */
  .differentiate-section-container, .teacher-section-container, .infinite-section-container{
    flex-direction: column;
  }

  .teacher-ex{
    width:200px;
    height:300px;
  }
  .differentiate-section-container, .teacher-section-container, .infinite-section-container p{
    font-size:1.7rem;
    /* padding-top:0px; */
  }
  .differentiate-ex-container, .teacher-ex-container{
    width:100vw;
    margin-bottom: 2%;
  }
  .differentiate-ex-container{
    /* height:auto; */
  }
  .differentiate-description-container, .infinite-description-container, .teacher-description-container{
    width:100%;
  }
  .ex1, .schoolex1{
    left:2%;
  }
  .ex2, .Tex1{
    left:55px;
    left:18%;
  }
  .ex3, .Tex2, .schoolex2{
    left:105px;
    left:34%;
  }
  .ex4{
    left:160px;
    left:50%;
  }
  .teacher-ex-container{
    height: 350px;
  }
  .schoolex3{
    left:200px;
    left:55%;
  }
  .schoolex1{
    left: 25%
  }
  .schoolex2{
    left:40%
  }
  .Tex3{
    left:56%
  }
  .infinite-remakepdf{
    width: 400px;
    height: 300px;  
  }
  .infinite-section-container{
      height:auto;
    }
  
}

@media (max-width: 1400px){
  .differentiate-section-container, .teacher-section-container, .infinite-section-container p{
    font-size:2rem;
  }
  .bold1, .bold2, .bold3 {
    font-size:2.5rem;
  }
  .teacher-section-container{
    height:60vh;
  }
  .differentiate-conceptCustomize{
    height: 180px;
    width: 290px;

  }
  .differentiate-section-container{
    padding-bottom:70px;
  }
  .differentiate-ex-container{
    margin-top:50px;
    margin-bottom:50px;
    /* height: 400px; */
  }
  .differentiate-ex{
    width:200px;
    height:300px;
  }

}

@media (max-width: 600px) {
  .differentiate-section-container, .teacher-section-container, .infinite-section-container p{
    padding-top:20px;
    font-size: 1.5rem;
  }
  .infinite-remakepdf{
    padding-top:50px;
  }
  .bold1,.bold2,.bold3{
    font-size:1.7rem;
  }

}