.concept-general-container {
  display:flex;
  justify-content:center;
  align-items:center;
  }

.addQ-container {
  display:flex;

}
.quantity-addQ {
  display:flex;
  margin-bottom: 10px;
  margin-right:10px;

}
.quantity-input {
  font-size:20px;
  border-color:var(--main-color);
  border-radius: 5px;
  /* background:linear-gradient(bottom, rgb(113, 171, 190), white, rgb(113, 171, 190)); */
  box-shadow: 2px 2px 7px 1px rgb(23, 76, 92);;
  text-align:center;
  }
.general-button {
  color: rgb(240, 240, 240);
  margin: 10px 10px 10px 10px;
  font-size: 20px;
  background: var(--main-color);
  border-radius: 5px;

  /* background:-webkit-linear-gradient(red yellow) */
}
.general-button :hover {
  cursor: pointer;
  background-color: blue;
}
.general-button-link :hover{
cursor: pointer;
background-color:rgb(40, 129, 156);
box-shadow: 5px 4px 10px grey;
border-color:var(--sec-color);
color:white;
}
@media(max-width:700px){
  .concept-general-container {
    display:flex;
    flex-direction: column;
    }

}