.display-user-selection-container {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-items: center;
}

th {
  background-color: var(--main-color);
  color: white;
  border: 2px solid rgb(99, 97, 97);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

table {
  border-collapse: collapse;

}
td {border: 2px solid black; background-color: white; text-align:center}
.trash{
  width:25px;
}
.trash-button {
  background-color:white;
  border:none;
}
.trash-button:hover{
  cursor:pointer;
  
}
.current-selection {
  background-color:transparent;
  font-family: 'Sriracha';

  color:var(--sec-color);
  font-size:20px;
  border-top: none;
  border-left:none;
  border-right:none;
}
.create-assign-button {
  margin: 20px 0px 0px 0px;
  text-decoration:none;
  background-color: var(--main-color);
  box-shadow: 5px 5px 10px rgb(21, 53, 56);
  border-radius: 5px;
  font-size:20px;
  padding: 10px 30px 10px 30px;
  color:black;


  
}
.create-assign-button:hover{
  background-color:rgb(68, 128, 156);
}
.create-assign-button-container{
  margin-top:40px;
}