

.main-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.worksheet {
  page-break-after:always;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main {
  padding: 100px;
}
.ac {
  margin: 0px 0px 0px 20px;
  /* font-size: 20px; */
}
@media print {
  .no-print * {
    visibility: hidden;
    display:none;
    height:0;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
    height:auto;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

th {
  background-color:rgb(187, 179, 179);
  border: 2px solid black;
}
table {
  border:2px solid black;
  border-collapse: collapse;

}
td {border: 2px solid black}