

.main-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.worksheet {
  page-break-after:always;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main {
  padding: 10px 300px 10px 300px;
}
.ac {
  margin: 0px 0px 0px 20px;
  /* font-size: 20px; */
}
#table-snap {
 margin: 0px 0px 0px -1000px;
 width: 500px;
  border: 1px solid black;

}
.table {
  border:none;
}
@media print {
  .no-print * {
    visibility: hidden;
    display:none;
    height:0;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
    height:auto;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.name-title {
  padding:20px 0px 0px 0px;
  margin:30px;
}
.answer-key {
  margin: 30px;
}
.worksheet-display {
  box-shadow: 10px 10px 10px 10px grey;
  margin: 30px;
  width: 816px;
}
th {
  background-color:rgb(187, 179, 179);
  border: 2px solid black;
}
table {
  border:2px solid black;
  border-collapse: collapse;

}
td {border: 2px solid black}

@page 
{
    size:  auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
}

.radio-button-container {
  display:flex;
  flex-direction:row;
  background-color:rgb(255, 255, 255);
  justify-content:space-around;

}
.customize-qcontainer {
  background-color: white;
  padding: 0px 30px 0px 30px;
  /* display:flex; */
  width:500px;
  color:rgb(0, 0, 0)
}
.customize-title {
  border-bottom: 5px solid rgb(113, 113, 136);
  font-size: large;
  padding:5px;
  margin: 0px;
}
.radio-button {
  padding: 10px 20px 10px 20px
}
.quantity-addQ {
  display:flex;
}
.concept-title {
  border-bottom: 3px solid rgb(113, 113, 136);
  font-size:medium;
}
.conceptList {
  width: 100px;
  height: 20px;
  background-color:rgb(236, 232, 232);
}

.conceptList a:hover {
  background-color:rgb(148, 124, 148);
}
.main-customize-container {
  display:flex;
  /* border: 5px solid black; */
}
.concept-dropdown-container {
  /* background-color:rgb(255, 255, 255); */
  padding: 0px 20px 0px 20px;
  border: 2px solid black;

}


.addQ-button {
 text-shadow: blue;
 color: black;
 font-size: 20px;
}
.addQ-button :hover {
  cursor: pointer;
  background-color: blue;
}
.buttonGroup {
  display:flex;
  flex-direction:column;
  justify-content: left;
}
.concept-topic {
  border-bottom: 2px solid rgb(100, 100, 133);
  /* color:indigo */ 
  /* font-size:large; */
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  width: 200px;
  display: inline-block;
  text-align: left;
  /* box-shadow: 0px 2px 7px 0px grey; */
  margin: 2px;
  background-color: white;
  border:none;
}
.dropdown:hover {
  cursor: pointer;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: 180px;
  top: 0px;
  background-color: #f1f1f1;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  left: 500px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(238, 192, 192); left:20px;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.input-final-container {

}