

.main-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.worksheet {
  page-break-after:always;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main {
  padding: 100px;
}
.ac {
  margin: 0px 0px 0px 20px;
  /* font-size: 20px; */
}
#table-snap {
 margin: 0px 0px 0px -1000px;
 width: 500px;
  border: 1px solid black;

}
.table {
  border:none;
}
@media print {
  .no-print * {
    visibility: hidden;
    display:none;
    height:0;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
    height:auto;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.name-title {
  padding:20px 0px 0px 0px;
  margin:30px;
}
.answer-key {
  margin: 30px;
}
.worksheet-display {
  box-shadow: 10px 10px 10px 10px grey;
  margin: 30px;
  width: 816px;
}
th {
  background-color:rgb(187, 179, 179);
  border: 2px solid black;
}
table {
  border:2px solid black;
  border-collapse: collapse;

}
td {border: 2px solid black}

@page 
{
    size:  auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
}

.radio-button-container {
  display:flex;
  flex-direction:row;
  background-color:grey;
  justify-content:space-around;

}
.customize-qcontainer {
  background-color: white;
  width:300px;
  color:indigo
}
.concept-dropdown-container {
  background-color:rgb(141, 129, 150)

}
.radio-button {
  padding: 10px 20px 10px 20px
}
.quantity-addQ {
  display:flex;
}
