.general-main-container {

  /* --sec2-color: ; */
    display:flex;
    flex-direction:column;
    /* padding:0px; */
  }

/*Home */


/* Shared */

.info-card {
  /* box-shadow: 5px 3px 10px 5px rgb(116, 148, 160); */
  box-shadow: 3px 2px 7px 3px rgb(116, 148, 160);
  background-color:white;
  padding:30px;
  margin:10px;
  width:30%;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.info-card-container {
  display:flex;
  justify-content:center;
}
.info-card-icons {
  height:80px;
  width:100px;
  align-items:center;
}

.main-button-container {
  align-self:center;
  height: 50px;
}
.main-button {
  margin: 20px 0px 0px 0px;
  text-decoration:none;
  background-color: var(--main-color);
  box-shadow: 5px 5px 10px rgb(21, 53, 56);
  border-radius: 5px;
  font-size:20px;
  padding: 10px 30px 10px 30px;
  color:black;
}
.main-button:hover{
  background-color:rgb(68, 128, 156);
}

.signup {
  padding:20px;
}


/* Parents/Teachers/Schools */
.header {
  background-color: var(--sec-color);
  color: white;
  height: 60vh;
  /* width:100vw; */
  margin:55px 0px 0px 0px;
  padding: 0vh 15% 10vh 15%;
}
.header h1 {
  font-size: 45px;
  color: white;
}
.header p {
  font-size: 30px;
  color:rgb(197, 179, 179);
}
.header-center {
  background-color: rgb(112, 15, 15);
  height: 100%;
  padding: 5vh 10% 5vh 10%;
  display:flex;

}
.header img {
  width: 400px;
  float:right;
}

@media (max-width:1300px) {
  .header-center {
    padding:5vh 0vh 2vh ;
    height:auto;
  }
  .header h1 {
    font-size: 30px;
  }
  .header p {
    font-size: 20px;
  }
  .header img {
    width: 250px;
  }
  .header {
    background-color: var(--sec-color);
    color: white;
    height: auto;
    /* width:100vw; */
    max-width:100%;
    margin:55px 0px 0px 0px;
    padding: 0vh 15% 0vh 15%;
  }
}
@media (max-width: 740px) {

  .header-center {
    padding:5px;
  }
  .header h1 {
    font-size: 25px;
  }
  .header p {
    font-size: 15px;
  }
  .header {
    /* width:100vw; */
    max-width:100%;
    margin:55px 0px 0px 0px;
    padding: 0vh 10% 0vh 10%;
    height:auto;
  }
  .header img {
    width: 150px;
  }
  .main-button {
    font-size:14px;
    padding: 4px;
    color:black;
  }

  .info-card {
    /* box-shadow: 5px 3px 10px 5px rgb(116, 148, 160); */
    padding:10px;
    margin:10px;
    width:80vw;
    max-width:90%;
    flex-direction:column;
  }
  .info-card-container {
    width:100vw;
    max-width:100%;
    padding:40px 20px 20px 20px;
    flex-direction:column;
  }
  .info-card-icons {
    height:60px;
    width:80px;
    align-items:center;
  }
  .main-general-container {
    width:100vw;
    max-width:100%;
  }
}