.main-container {

  /* --sec2-color: ; */
    display:flex;
    flex-direction:column;
    padding:0px;
  }
  .title-banner {
    text-shadow: 5px 2px 5px rgb(108, 108, 136);
    top:100px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    z-index:2;
  }
  .info-card {
    /* box-shadow: 5px 3px 10px 5px rgb(116, 148, 160); */
    box-shadow: 3px 2px 7px 3px rgb(116, 148, 160);
  
    padding:30px;
    margin:10px;
    width:30%;
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  .info-card-container {
    display:flex;
    justify-content:center;
  }
  .info-card-icons {
    height:80px;
    width:100px;
    align-items:center;
  }
  .create-assign-container {
    align-self:center;
    height: 50px;
  }
  .create-assign-button {
    margin: 20px 0px 0px 0px;
    text-decoration:none;
    background-color: var(--main-color);
    box-shadow: 5px 5px 10px rgb(21, 53, 56);
    border-radius: 5px;
    font-size:20px;
    padding: 10px 30px 10px 30px;
    color:black;
  }
  .create-assign-button:hover{
    background-color:rgb(68, 128, 156);
  }
  .picture-background {
    /* background-image: url(./app-files/images/triangle-background.jpg); */
    background-image: url(./../../app-files/images/blue-yellow-background.jpg);

    width:100vw;
    align-self:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-repeat:no-repeat;
    background-size:cover;
    height:100vh;
  }
  .header {
    background-color: var(--sec-color);
    color: white;
    height: 60vh;
    /* width:100vw; */
    margin:55px 0px 0px 0px;
    padding: 10vh 15% 0vh 15%;
  }
  .header h1 {
    font-size: 45px;
    color: white;
  }
  .header p {
    font-size: 30px;
    color:rgb(197, 179, 179);
  }
  .signup {
    padding:20px;
  }